*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

    /* Works on Firefox */
    * {
      scrollbar-width: 0px;
      scrollbar-color: #ffffff rgb(12, 12, 12);
    }
    
    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 0px;
    }
    
    *::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
      border-left: 0px solid #cccccc;
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: #ffffff3f;
      border-radius: 20px;
      border: 3px solid rgba(12, 12, 12, 0);
    }
    .myTooltip{
      position: absolute;
      /* top: 0px; */
      font-size: 10px;
      font-weight: 500;
      width: 210px;
      padding: 1em;
      background: #000000;
      border-radius: 5px;
      color: #e7e7e7;
      text-transform: none;
      z-index: 1000 !important;
    }
    .wether-card-small-tittle{
      text-transform: uppercase;
      font-size: 0.85em !important;
      font-weight: 400 !important;
      color: #a1a1a1 !important;
      display: flex;
    }
    .wether-card-small-tittle:hover{ 
      color: #c1c1c1 !important; 
      font-weight: 400 !important;
    }
    .wether-card-small-desc{
      text-transform: capitalize;
      font-size: 0.85em !important;
      font-weight: 400 !important;
      color: #a1a1a1 !important;
    }
    .card-tittle{
      text-transform: uppercase;
      font-size: 1.3em !important;
      color: #ff9100 !important; 
      font-weight: 400 !important;
      /* color: #d1d1d1 !important; */
      margin-top:1em;
    }
    .btn{
      text-decoration: none !important;
    }
     
    .btn-link{
      color: #c3c3c3 !important;
      font-weight: 400 !important;
    }
    .btn-link:hover{
      color: #a1a1a1 !important; 
    }
    .alice-carousel__next-btn
    .alice-carousel__next-btn-item{
      color: #717171;
      background: #000000;
      position: absolute;
      top: 140px;
      right: -20px;
      font-size: 1.1em;
      font-weight: 500;
      /* border: 2px solid #717171; */
      border-radius: 50%;
      padding-left: 0em;
      padding-right: 0em;
      padding-top: 0em;
      padding-bottom: 0em;
      height: 30px;
      width: 30px; 
    }
    .alice-carousel__prev-btn
    .alice-carousel__prev-btn-item{ 
      color: #717171;
      background: #000000;
    position: absolute;
    top: 140px;
    left: -20px;
    font-size: 1.1em;
    font-weight: 500;
    /* border: 2px solid #c1c1c1; */
    border-radius: 50%;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    height: 30px;
    width: 30px; 
    }
    
    .alice-carousel__prev-btn
    .alice-carousel__prev-btn-item:hover,
    .alice-carousel__next-btn
    .alice-carousel__next-btn-item:hover{ 
      color: #cbcbcb;
      border: 2px solid #cbcbcb; 
      }
    .alice-carousel__next-btn
    .alice-carousel__next-btn-item > span,
    .alice-carousel__prev-btn
    .alice-carousel__prev-btn-item > span{
      display: none !important;
      margin: 0px !important;
      }
      .alice-carousel__next-btn
      .alice-carousel__next-btn-item:before
       {
        content:"\21E8";
        font-family: 'Glyphicons Halflings'; 
        position: absolute;
        top: -2px;
        left: 5px; 
        padding: 0px 0px;
        margin: 0px !important;
        vertical-align: middle;
        font-weight: 600;   
      } 
      .alice-carousel__prev-btn
      .alice-carousel__prev-btn-item:before
       {
        content:"\21E6";
        font-family: 'Glyphicons Halflings'; 
        position: absolute;
        top: -2px;
        right: 6px; 
        padding: 0px 0px;
        margin: 0px !important;
        vertical-align: middle;
        font-weight: 700;   
      }
      
    .loader{
      height: 100%;
      /* background: url('./assets/cold.png'); */
      opacity: none;
    }
    
    .loader-text{
      font-size: 2em;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: 0.2em;
    }
    
    .loader-text-sm{
      font-size: 0.8em;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 0.2em;
    }

    .lds-ripple-lay{ 
      text-align: center;
      margin-top: 20%;
    }
    .lds-ripple-lay-o{ 
      text-align: right;
      margin-bottom: 0%;
    }
    
    .lds-ripple {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
    } 
    .ripple-o { 
      position: absolute; 
      bottom: 20px;
      right: 20px;
    }  
    .lds-ripple div {
      position: absolute;
      border: 4px solid #ffffff;
      opacity: 0.75;  
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    } 
    .ripples-o div { 
      border: 4px solid #000000 !important; 
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }
    
body{
  font-family: 'montseratt', sans-serif; 
  overflow-y: hidden !important; 
}
a{
  color: #adadad !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}
a:hover{
  color: #ff9100 !important; 
  font-weight: 400 !important;
}
.d-none{
  display: none;
}
.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5,p{
  color: #cccccc;
}
h1,h2,h3,h4{
  font-weight: 300 !important;
}
h5,h4{
  font-weight: 450 !important;
}
.h6,h6{
  font-weight: 400 !important;
  color: #ffffffea;
}
.h3,h3{
  font-size: 3.5em !important;
}
h3>small{
  font-size: 0.4em;
}
.h4,h4{
  font-size: 2em !important;
}
.h5, h5 {
  font-size: 1.25rem !important;
}
.badge{
  padding: 0.5em;
  border-radius: 10px !important;
}
.badge-light{
  color: #313131 !important;
  background: #ffffff;
}
.padding-small{
  padding-right: 0.5em;
  padding-top: 4em;
}
.heigh-sm{
  height: 35px;
}
.heigh-lg{
  height: 80px;
}
.cityTitle{
  margin: 1em 0 1em 0;
  color: #ff9100 !important; 
  font-weight: 400 !important;
}
.cityTitle-sm{
  margin: 1em 0 1em 0;
  color: #ffffff;
  font-weight: 400 !important;
}
.dayTitle{
  margin-bottom: 0.5em;
}
.weatherTitle{
  /* margin-bottom: 2em; */
}
.weatherTitle-sm{
  font-weight: 400 !important;
  color: #ffffffea;
  height: 3em;

}
.weather-icon{
  position: absolute;
  top: 14px;
  right: 90px !important;
}
.weather-icon-sm{ 
  position:absolute;
  right: -81%; 
  top: 80px;
  /* z-index: -1;  */
  font-size: 10px !important;
  /* right: 100px !important; */
  transition: ease-in 4s;
}
.wbtn-minimize{
  float: left !important;
  background: #ffffff60;
  border: 3px solid #cccccc;
  padding: 0em 0.5em 0.4em 0.5em !important;
}
.wbtn-minimize:hover{ 
  background: #ffffff; 
}
.weather-icon-main{
height: auto; 
}
.weather-card{
  background: #0000007b;
  border-radius: 16px;
  border: 3px solid #cccccc80;
  padding: 1em 1em 2em 1em;
  margin: 0em 1em 2em 1em !important;
}
.weather-card-sm{
  background: #dbdbdb13;
  border-radius: 16px;
  border: 1px solid #cccccc00;
  padding: 1em 1em 2em 1em;
  margin: 2em 0em 2em 0em !important; 
  cursor: pointer; 
}  .weather-card-sm:hover{
  background: #000000ef !important; 
  border: 1px solid #cccccc20; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weather-card:hover{
  /* background: #000000ef !important;  */
  background: #000000a2 !important; 
  border: 3px solid #cccccc; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.app{
  /* background-image: url('./assets/cold.png'); */
  background-size: cover;
  background-position: top;
  transform: 0.4s ease-out;  
  /* opacity: 0.75;  */  
  overflow-y: scroll !important;
  min-height: 100vh !important;
}
main{
  min-height: 100vh;
}
.app.warm{
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(89, 47, 30, 0.75));
  /* background-image: url('./assets/warm.png');  */
  /* opacity: 0.75;  */
}
.warm{
  background-image: linear-gradient(to bottom, rgba(253, 156, 91, 0.433), rgba(137, 55, 0, 0.433));
  /* background-image: url('./assets/warm.png');  */
  background: #c62d0300;
  /* opacity: 0.75;  */
}
.cool-o{
  /* background-image: url('./assets/cold.png'); */
}
.cool{
  /* background-image: url('./assets/cold.png'); */
  /* opacity: 0.75;  */
}
.app-bg{
  /* background-image: url('./assets/cold.png'); */
}
.city-bg{
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: top;
  transform: 0.4s ease-out;
  height: 100vh;
}
main{
  /* height: 100vh; */
  /* min-height: 100vh; */
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.75));
  padding: 5em;
} 
.search-box{
  width: 100%;
  margin: 0 0 1em 0 ;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 0 0 16px 16px;
  margin-top: -80px;

  box-shadow: 0px 5px rgba(0,0,0, 0.2);
  
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}
.search-box .search-bar:hover{
  background-color: rgba(255, 255, 255, 0.925);

}
.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.925);

}
#errorMsg{
  background: #ffffff !important;
  z-index: 999 !important;
  position: absolute !important;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100vh;

}
.errorContent{ 
  background-repeat: no-repeat !important;
  background-position: center 20% !important;
  background-size: 30% !important;
  text-align: center;
  display: block;
  margin: 0px;
  height: 100%;
}
.errorContent h5{
  color: #444444 !important;
}
.errorTop{
  position: absolute;
  top: 10vh; 
}
.errorBottom{
  position: absolute;
  bottom: -70vh;
}
#resultCard{
  background: #ffffff;
  z-index: 999 !important;
  padding: 2em 1em;
  border-radius: 15px; 
  position: absolute;
  width: 97.7%;
  height: 80vh !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.resultCardCountry{
  height: 60vh !important;
  width: 100% !important;
  overflow-y: auto !important;
  /* border-right: solid #818181 1px;  */
  padding: 1em 1em 0em 1em;
}

.resultCity{
  height: 60vh !important;
  width: 100% !important;
  overflow-y: auto !important; 
  overflow-x: hidden !important; 
  padding: 1em 0em 0em 1em;
}

.resultCardCountry > *::-webkit-scrollbar-track {
  background: rgba(12, 12, 12, 0);
}

.clearCard{
  color: #444444 !important;
  position: absolute;
  top: 20px;
  right: 60px;
  background: #ffffff !important;
  padding: 40px 5px;
  border-radius: 50% !important;
  border: solid #33333300 1px !important;
}
.closeResultCard{
  color: #444444 !important;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ffffff !important;
  padding: 0.4px 5px;
  border-radius: 50% !important;
  border: solid #33333300 1px !important;
}
.closeResultCard :hover{
  color: #a8a3a3 !important; 
  border: solid #333333 1px !important;
}


#resultCard h5{
  color: #444444 !important;
}
#resultCard h6{
  color: #444444 !important;
}

#resultCard button{
  color: #222222 !important;
  text-decoration: none;
  font-size: 0.9em !important;
  text-align: left !important;
  padding:0em 0.5em !important ;
  margin:0em 0em !important ; 
  background: none;
  border: none;
  /* border-bottom: 1px solid #ced4da !important;
  border-radius: 0px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
#resultCard button:hover{
  color: #a8a3a3 !important;
  text-decoration: none;
}
#resultCard .country{
  height: auto !important; 
}
.res-header{
  height: 3em;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important; */
  border-bottom: 1px solid #818181 !important;
  margin-bottom: 1em;
}
.h-card {
  padding: 1em 2em 1em 1em;
  background: #dbdbdb13;
  border-radius: 5px;
  border: 1px solid #f1f1f100;
}
.h-card:hover {
  background: #000000;
  border: 1px solid #f1f1f113;
}

.active .h-card  {
  background: #ffffff35 !important;
  border: 1px solid #6c6c6c13;
  transition: 400s ease-in-out;
}
.location-box .location{
  color: #ffffff;
  font-size: 32px !important;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70, 0.5);

}.location-box .date{
  color: #ffffff;
  font-size: 17px !important;
  font-weight: 300;
  /* font-style: italic; */
  text-align: center; 
  text-shadow: 2px 2px rgba(50,50,70, 0.5);
}
.icon-lrg{
  font-size: 6.5em;
  /* margin-left: 0.4em; */
  margin-top: -0.3em;
  margin-bottom: 0.2em;
}
.weather-box {
  text-align: center;
}
.weather-box .temp{
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #ffffff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(50,50,70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0,0,0, 0.2);
}
.weather-box .Weather{
  color: #ffffff;
  font-size: 48px !important;
  font-weight: 7; 
  text-transform: capitalize;
  text-shadow: 3px 3px rgba(50,50,70, 0.5);
}
.wbtn{
  padding: 0.1em 0.2em;
  width: auto !important;
  margin-left: 0px !important;
}
.loader{
  width: 100%;
  height: 100% !important;
  /* background-image: url('./assets/cold.png'); */
  background: #000000;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.loader-o{
  width: 100%;
  height: 100% !important;
  /* background-image: url('./assets/cold.png'); */
  background: #ffffff00;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.spinner {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.figure-container {
  fill: transparent;
  stroke: #ffffff;
  text-shadow: 1px 1px 4px #000000;
  stroke-width: 4px;
  stroke-linecap: round;
}

.w-icon-box{
  height: 60px;

}
.w-icon-img{
  position: absolute;
  left: 10px;
  width: 60px !important;
  height: auto !important;
  margin-left: 0px;
  margin-left: 0px;
}
.my-list{
  overflow: hidden !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.sunrise-svg{ 
}
.sunrise-svg-arc{ 
}
.sunrise-svg-holder{
  /* height: 200px; */
  padding: 1em 1em;

}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 350.98px) { 
  .mb-show{
    display: none !important;
  }
  .city-bg{
    background-size: cover !important;
    overflow-y: none !important;
    height: 100% !important; 
  }
  .margin-b{ 
    border-top: 2px solid #f1f1f144 !important;
    margin-top: 2em;
    margin-left: 1em;
    padding-top: 1em;
  }
  .app{
    
  height: 100% !important;
  }
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .mb-show{
    display: contents;
  }
  .app, main{
    /* height: 100vh !important;  */
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
    height: 100% !important;
    /* overflow-y: auto !important; */
  }
  .city-bg{
    background-size: cover !important;
    overflow-y: none !important;
    height: 100% !important; 
  }
  .hide-mobiel{
    display: none;
  }
  .mobile-block{
    display: flex;
    padding-top: 1em;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .mb-show{
    display: contents;
  }
  .app, main{
    height: 100% !important; 
  }  
  .city-bg{
    background-size: cover !important;
    overflow-y: none !important;
    height: 100% !important; 
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .mb-show{
    display: contents;
  }
  .app, main{
    height: 100vh !important; 
  } 
  .city-bg{
    background-size: cover !important;
    overflow-y: none !important;
    height: 100% !important; 
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1200pxpx) { 
  .mb-show{
    display: contents;
  }
  .app, main{
    height: 100vh !important; 
  }
  .city-bg{
    background-size: cover !important;
    overflow-y: none !important;
    height: 100vh !important; 
  }
 }


 /* ANIMATIONS HERE  */
 @keyframes fade-s-in {
  0% {opacity: 0;}
 100% {opacity: 1;} 
}
@keyframes fade-s-down {
  0% {opacity: 0;}
 100% {opacity: 1;}
0% {
    
      transform: translateY(-20%);
}
50% {
    
      transform: translateY(0%);
}
}
@keyframes fade-s-up {
  0% {opacity: 0;}
 100% {opacity: 1;}
0% {
    
      transform: translateY(40%);
}
50% {
    
      transform: translateY(0%);
}
}

@keyframes fadeIn {
0% {
  transform: scale(0, .025);
}
50% {
  transform: scale(1, .025);
}
}

@-moz-keyframes fadeIn {
0% {
  transform: scale(0, .025);
}
50% {
  transform: scale(1, .025);
}
}

@-webkit-keyframes fadeIn {
0% {
  transform: scale(0, .025);
}
50% {
  transform: scale(1, .025);
}
}


@media (prefers-reduced-motion: no-preference) {
  .fade-in {
    animation-name: fade-s-in; 
    animation-duration: 1s;
    animation-iteration-count: 1;
  } 
  .fade-down {
    animation-name: fade-s-down; 
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
  
  .fade-up {
      animation-name: fade-s-up; 
      animation-duration: 4s;
      animation-iteration-count: 1;
    }
    .delay-lg{
      animation-delay: 4s;
    }
    .delay-md{
      animation-delay: 2s;
    }
    .delay-sm{
      animation-delay: 1s;
    }
}

.margin-r{
  border-right: 2px solid #f1f1f144 !important;
  
}
.margin-t{
  border-top: 1px solid #f1f1f144 !important;
  padding-top: 1em;
  
}
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-muted{
  color: #ffffff !important;
  font-weight: 500;
}


/* // Small devices (landscape phones, 300px and up) */
@media (min-width: 300px) {    
  body{
    height: 100%;
  }
  .app{ 
    height: 100%;
  }
  main{
    height: 100%;
  }
  .temp-icon{
    text-align: left;
  }
  
.spinner {
  top: 40%;
  left: 30%;
}

.temp_card{
  text-align: left !important;
}

.w-icon{
  position: absolute !important;
  right: 20px;
  top: 20px;
}
 }


/* // Small devices (landscape phones, 376px and up) */
@media (min-width: 376px) {   
  body{
    height: 100%;
  }
  .app{ 
    height: 100%;
  }
  main{
    height: 100%;
  }
  .temp-icon{
    text-align: left;
  }
  
.spinner {
  top: 40%;
  left: 36%;
}

.temp_card{
  text-align: left;
}
.w-icon{
  position: absolute !important;
  right: 20px;
  top: 20px;
}
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {    
  body{
    height: 100%;
  }
  .app{ 
    height: 100%;
  }
  main{
    height: 100%;
  }
  
  .temp-icon{
    text-align: right;
  }
  
.spinner {
  top: 40%;
  left: 40%;
}

.temp_card{
  text-align: right !important;
}
.w-icon{
  position: static !important;

}
 }

/* // Small devices (landscape phones, 600px and up) */
@media (min-width: 600px) {    
  body{
    height: 100%;
  }
  .app{ 
    height: 100%;
  }
  main{
    height: 100%;
  }
  
  .temp-icon{
    text-align: right;
  }
  
.spinner {
  top: 40%;
  left: 40%;
}

.temp_card{
  text-align: left !important;
}
.w-icon{
  position: static !important;

}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  body{
    height: 100%;
  }
  .app{ 
    height: 100%;
  }
  main{
    height: 100%;
  }
  .app{ 
    min-height: 100%  !important;
  }
  main{
    min-height: 100% !important;
    overflow-y: auto !important; 
  }
  .temp-icon{
    text-align: left;
  }
  .spinner {
    top: 40%;
    left: 45%;
  }
  
.temp_card{
  text-align: left !important;
}
.w-icon{
  position: static !important;

}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  body{ 
    min-height: 100vh;
  }
  .app{ 
    min-height: 100vh;
    /* overflow-y: hidden !important;  */
  }
  main{
    min-height: 100vh !important;
    overflow-y: auto !important; 
  }
  .temp-icon{
    text-align: left !important;
  }
  
.spinner {
  top: 40%;
  left: 45%;
}
.temp_card{
  text-align: right !important;
}
.w-icon{
  position: static !important;

}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {   
  body{ 
    min-height: 100vh;
  } 
  .app{ 
    min-height: 100vh !important;
  }
  main{
    min-height: 100vh !important;
    overflow-y: auto !important; 
  }
  .temp-icon{
    text-align: right;
  }
  
  .spinner {
  top: 40%;
  left: 45%;
  }
  
  .temp_card{
  text-align: right !important;
  }
  .w-icon{
    position: static !important;
  
  }
 }
 
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {  
  /* body{ 
    overflow-y: auto !important; 
  }  */
  .app{ 
    min-height: 100vh !important;
  }
  main{
    min-height: 100vh !important;
    overflow-y: auto !important; 
  }
  .temp-icon{
    text-align: right;
  }
  
.temp_card{
  text-align: right !important;
}
.w-icon{
  position: static !important;

}

 }


 .windmill {
  /* position: relative; */
  text-align: center !important;
  margin-top: 1.76em !important;
}

.line {
  position: absolute;
  width: 300px;
  height:5px;
  border-radius:10px;
  background-color: #333;
  left:-150px;
  top:100px;
  z-index:1;
}

.line:before {
  content:"";
  position: absolute;
  background-color: #6a994e;
  width: 100px;
  height: 50px;
  border-radius: 50px 50px 0 0;
  top:-50px;
  left:50px;
  box-shadow: 100px 0 #a7c957;
}

.line:after {
  content:"";
  position: absolute;
  background-color: #6a994e;
  width: 50px;
  height: 25px;
  border-radius: 50px 50px 0 0;
  top:-25px;
  left:10px;
  box-shadow: 50px 0 #a7c957, 105px 0 #6a994e, 195px 0 #6a994e, 225px 0 #a7c957;
}

.mill {
  position: absolute;
  border-bottom: 100px solid #333;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  width: 10px;
  height:0;
  top:70px;
  left:40%;
  z-index:2;
}

.mill:before {
  position: absolute;
  content:"";
  border-bottom: 100px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  width: 10px;
  height:0;
  top:0px;
  left:-9px;
}

.mill:after {
  position: absolute;
  content:"";
  background-color: #333;
  width: 10px;
  height:5px;
  border-radius:10px;
  left:-40px;
  top:0px;
  box-shadow: 20px 40px #333, -10px 80px #333, 65px 5px #333, 70px 20px #333, 50px 80px #333, 55px 90px #333, 15px 95px #333, 10px 30px #333;
}

.door {
  position: absolute; 
  background-color: #621708;
  width:25px;
  height:40px;
  border-radius:30px 30px 0 0;
  border: 5px solid #333;
  box-shadow: inset 1px 7px rgba(0,0,0,0.2);
  top:55px;
  left:-10px;
  z-index:3;
}

.door:before {
  position: absolute;
  content:"";
  border-bottom: 65px solid #333;
  border-right: 65px solid transparent;
  border-left: 65px solid transparent;
  height:0;
  width:0;
  top:-145px;
  left:-55px;
}

.door:after {
  position: absolute;
  content:"";
  border-bottom: 50px solid #2d728f;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  height:0;
  width:0;
  top:-136px;
  left:-40px;
}

.fan {
  position: absolute;
  background-color: #333;
  width:15px;
  height:15px;
  border: 5px solid #ffffff;
  border-radius:50%;
  left:41.59%;
  top:40%;
  z-index:4;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wingOne, .wingTwo, .wingThree, .wingFour {
  position: absolute;
  width:5px;
  height:25px;
  background-color: #ffffff;
  border-radius:10px;
}

.wingOne:before, .wingTwo:before, .wingThree:before, .wingFour:before {
  position: absolute;
  content:"";
  background-color: #ffffff;
  /* box-shadow: inset -5px 0 #f5ee9e; */
  border: 3px solid #ffffff;
  border-top: 0px solid #ff000000;
  border-radius:10px 10px 10px 50px;
  width:5px;
  height:25px;
  top:17px;
  left:-3px;
}

.wingOne {
  left:0px;
  top:15px;
  border: 3px solid #ffffff;
  border-bottom: 0px solid #ff000000;
}

.wingTwo {
  transform: rotate(90deg);
  top:-10px;
  left:-25px;
  border: 3px solid #ffffff;
  border-bottom: 0px solid #ff000000;
}

.wingThree {
  transform: rotate(-90deg);
  top:-10px;
  left:25px;
  border: 3px solid #ffffff;
  border-bottom: 0px solid #ff000000;
}

.wingFour {
  transform: rotate(180deg);
  top:-35px;
  left:0px;
  border: 3px solid #ffffff;
  border-bottom: 0px solid #ff000000;
}

.clouds {
  position: absolute;
  width: 50px;
  height:15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index:-1;
  top:0px;
  box-shadow: -120px 40px rgba(255, 255, 255, 0.5), 80px 80px rgba(255, 255, 255, 0.5);
  animation: move 10s linear infinite;
}

@keyframes move {
  0% {transform: translateX(0);}
  25% {transform: translateX(-30px);}
  50% {transform: translateX(0);}
  75% {transform: translateX(30px);}
  100% {transform: translateX(0);}
}

.arch-sun{
  border-top: 2px dashed #000;
  border-right: 2px dashed #000;
  border-left: 2px dashed #000;
  border-bottom: 2px dashed #000;
  background-color: #ffd900;
  height: 2.5em;
  border-radius: 50% 50% 50% 50%;
  margin-bottom: 1em;
}
.arch-moon{
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: #ffffff;
  height: 2.5em;
  border-radius: 50% 50% 50% 50%;
  margin-bottom: 1em;
}